In [73]:
import numpy as np
import pandas as pd
from math import factorial
from statistics import stdev
import matplotlib.pyplot as plt
import warnings

In [58]:
pd.set_option('precision', 1)
warnings.filterwarnings('ignore')

In [61]:
def combinations(n, k):
    return int(factorial(n) / (factorial(k) * factorial(n - k)))

### Урок 3

##### 1) Даны значения зарплат из выборки выпускников: 100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150. Посчитать (желательно без использования статистических методов наподобие std, var, mean) среднее арифметическое, среднее квадратичное отклонение, смещенную и несмещенную оценки дисперсий для данной выборки.

In [62]:
# Для нахождения статистик для экономии времени в данном случае воспользуюсь реализованными методами.
# По специфике своей работы хорошо знаком с данным материалом
arr = np.array([100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 25, 57, 55, 70, 75, 65, 84, 90, 150])
arr

array([100,  80,  75,  77,  89,  33,  45,  25,  65,  17,  30,  25,  57,
        55,  70,  75,  65,  84,  90, 150])

In [63]:
df = pd.DataFrame(arr)
df.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,100,80,75,77,89,33,45,25,65,17,30,25,57,55,70,75,65,84,90,150

In [64]:
df.describe().T

   count  mean   std   min   25%   50%   75%    max
0   20.0  65.3  31.6  17.0  42.0  67.5  81.0  150.0

In [65]:
# модуль pandas выводит несмещеную оценку стандартного отклонения, вычислим смещеную оценку
std_biased = arr.std()
std_unbiased = arr.std(ddof=1)

In [66]:
std_biased

30.757560046271546

In [67]:
std_unbiased

31.556590770433857

##### 2. В первом ящике находится 8 мячей, из которых 5 - белые. Во втором ящике - 12 мячей, из которых 5 белых. Из первого ящика вытаскивают случайным образом два мяча, из второго - 4. Какова вероятность того, что 3 мяча белые?

1) Способ

In [76]:
# вероятность вытащить 2 из 1й и 1 из 2й
P1_1 = 5/8 * 4/7
P1_2 = 5/12 * 7/11 * 6/10 * 5/9
P1 = P1_1 * P1_2
P1

0.031565656565656575

In [77]:
# вероятность вытащить 1 из 1й и 2 из 2й
P2_1 = 5/8 * 3/7
P2_2 = 5/12 * 4/11 * 7/10 * 6/9
P2 = P2_1 * P2_2
P2

0.018939393939393933

In [78]:
# вероятность вытащить 0 из 1й и 3 из 2й
P3_1 = 3/8 * 2/7
P3_2 = 5/12 * 4/11 * 3/10 * 7/9
P3 = P3_1 * P3_2
P3

0.0037878787878787876

In [79]:
# итоговая вероятность
P = P1 + P2 + P3
P

0.054292929292929296

2) Способ

In [94]:
# вероятность вытащить 2 из 1й и 1 из 2й
P1 = combinations(5,2) / combinations(8,2) * combinations(5,1) / combinations(12,1) * combinations(7,3) / combinations(11,3)
P1

0.03156565656565656

In [95]:
# вероятность вытащить 1 из 1й и 2 из 2й
P2 = combinations(5,1) / combinations(8,1) * combinations(3,1) / combinations(7,1) * combinations(5,2) / combinations(12,2) * combinations(7,2) / combinations(10,2)
P2

0.01893939393939394

In [96]:
# вероятность вытащить 0 из 1й и 3 из 2й
P3 = combinations(3,2) / combinations(8,2) * combinations(5,3) / combinations(12,3) * combinations(7,1) / combinations(9,1)
P3

0.0037878787878787876

In [98]:
P = P1 + P2 + P3
P

0.05429292929292928

##### 3. На соревновании по биатлону один из трех спортсменов стреляет и попадает в мишень. Вероятность попадания для первого спортсмена равна 0.9, для второго — 0.8, для третьего — 0.6. Найти вероятность того, что выстрел произведен: a). первым спортсменом б). вторым спортсменом в). третьим спортсменом.

In [113]:
# в данном случае благоприятный исход выстрел спортсмена, всего возможных исходов 3 (по кол-ву спортстменов)
# соответственно вероятность выстрела для каждого спортсмена в отдельности 1/3,
# далее так как исход предполагает попадание в мишень имеем (с учетом того что стреляет только 1 спортсмен из 3-х):

P_s1 = 9/10 * 1/3
P_s2 = 8/10 * 1/3
P_s3 = 6/10 * 1/3

In [114]:
print(f'P_s1 = {P_s1}\nP_s2 = {P_s2}\nP_s3 = {P_s3}\n')

P_s1 = 0.3
P_s2 = 0.26666666666666666
P_s3 = 0.19999999999999998

##### 4. В университет на факультеты A и B поступило равное количество студентов, а на факультет C студентов поступило столько же, сколько на A и B вместе. Вероятность того, что студент факультета A сдаст первую сессию, равна 0.8. Для студента факультета B эта вероятность равна 0.7, а для студента факультета C - 0.9. Студент сдал первую сессию. Какова вероятность, что он учится: a). на факультете A б). на факультете B в). на факультете C?

In [105]:
# общее кол-во студентов на 3-х факультетах = 1, тогда при учете B=A, C=A+B, имеем
# a + a + 2a = 1
# a = 1/4

# относительная численность на факультетеах:
# A=1/4
# B=1/4
# C=1/2

In [106]:
# вероятность выбора студента с факультетов A, B, C без учета успешной сдачи экзамена.
# Число благоприятных исходов (кол-во студентов на факультете) / на общее кол-во студентов (1)
P_sA = 1/4
P_sB = 1/4
P_sC = 1/2

In [107]:
# студент сдал экзамен, соответственно вероятность успешной сдачи по факультетам:
P_A = P_sA * 0.8
P_B = P_sB * 0.7
P_C = P_sC * 0.9

In [108]:
print(f'P_A = {P_A}\nP_B = {P_B}\nP_C = {P_C}\n')

P_A = 0.2
P_B = 0.175
P_C = 0.45

##### 5. Устройство состоит из трех деталей. Для первой детали вероятность выйти из строя в первый месяц равна 0.1, для второй - 0.2, для третьей - 0.25. Какова вероятность того, что в первый месяц выйдут из строя: а). все детали б). только две детали в). хотя бы одна деталь г). от одной до двух деталей?

In [1]:
# вероятность того, что в первый месяц выйдут из строя:

In [3]:
# а) все детали
P_all = 0.1 * 0.2 * 0.25
P_all

0.005000000000000001

In [4]:
# б) только две детали